
  .menu-main {
    padding: 4vw;
  }
  
  
  
  .menu-main .items {
    padding: 2vw 4vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-right: 20px; */
  }
  
  .menu-main .items .item {
    width: 250px;
    margin-right: 50px;
    margin-bottom: 50px;
    -webkit-box-shadow: 10px 10px 10px #b3b2b2;
            box-shadow: 10px 10px 10px #b3b2b2;

  }
  
  .menu-main .items .item img {
    width: 100%;
    height: 250px;
  }
  
  .menu-main .items .item-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1vw;
  }
  
  .menu-main .items .item-details .title {
    text-transform: capitalize;
    font-size: 20px;
    margin: 5px 0;
  }
  
  .menu-main .items .item-details .add-to-cart {
    color: black;
    margin: 5px 0;
  }
  .allItems{
    display: flex;
  }